header{
    height: 70px;
    background-color: black;
    color: aqua;
   
    padding: 10px;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sidenav{
    background-color:yellow;
    position: absolute;
    height: 100vh;
    padding: 0 5px;
    width: 230px;
   left: -100%;
   display: flex;
   transition: all 1s;
}
.sidenav.active{
    left: 0;
}
/* .sidenav.active{
    left: 0;
} */
ul li a{
   font-size: 20px;
   text-decoration:none;
    display:inline-block;
    border-radius: 6px;
    margin: 10px 10px;
}
ul li a:hover,
ul li a.active{
  background: lightcyan;
}

ul li{
    list-style: none;
}

ul{
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;

}